<h1 class="mt-4">Customers</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Registry Customer</li>
</ol>
<div class="container">
    <form #customerForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    Client saved/updated successfully
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let error of errors">
                    {{ error }}
                </div>
            </div>
        </div>
        <div class="row" *ngIf="customer.id">
            <div class="col-md-6">
                <div class="form-group">
                    <label>ID:</label>
                    <input type="text" class="form-control" [ngModel]="customer.id" name="id" disabled="true">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Registry Date:</label>
                    <input type="text" class="form-control" [ngModel]="customer.registrationDate"
                        name="registrationDate" disabled="true">
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Name: *</label>
                    <input type="text" class="form-control" [(ngModel)]="customer.name" name="name">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Surname: *</label>
                    <input type="text" class="form-control" [(ngModel)]="customer.surname" name="surname">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>CPF: *</label>
                    <input type="text" class="form-control" [(ngModel)]="customer.cpf" name="cpf">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Date Birthday:</label>
                    <input type="text" class="form-control" [ngModel]="customer.dthBirthday" name="dthBirthday">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Gender:</label>
                    <input type="text" class="form-control" name="gender" [(ngModel)]="customer.gender">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-2">
                <button type="submit" class="btn btn-success" (click)="onSubmit()">
                    <i class="fa fa-save"></i> Save
                </button>
            </div>
        </div>
    </form>
</div>